<div class="ProjectIndex all-100 half-top-space">
  <section class="module parallax parallax-1">
    <div class="container">
      <h3>Current Projects</h3>
    </div>
  </section>
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center top-padding">


        <div class="Create column-group all-100 left-padding right-padding bottom-space push-center">
          <div class="all-50 align-left push-middle" >
            <h4>Create a Project</h4>
          </div>
          <div class="all-50 align-right push-middle half-top-padding half-bottom-padding" >
            <%= button_to "Create Project", new_project_path, :method => :get, class: "ink-button blue all-30" %>
          </div>
        </div>

          <div class="Projects all-100 push-center">
            <div class="Title column-group all-100 push-center half-bottom-space">
              <!--<h1>Current Projects</h1>-->
            </div>
            <div class="column-group horizontal-gutters half-top-padding push-center">
              <% @projects.each do |a| %>
                  <div class="ProjectCardHolder all-25 medium-30 small-50 tiny-100 half-bottom-space">
                    <a href="<%= project_path(a) %>"><div class="ProjectCard grow all-100 padding half-bottom-space">
                      <div class="all-100">
                        <div class="all-100 half-left-padding half-right-padding ">
                          <div class="all-100 align-center top-padding push-bottom">
                            <div class="Title all-100 " style="min-height: 7em;"><h3><%=a.title%></h3></div>
                            <div class="Desc half-top-padding" style="min-height: 10em;">
                                <p><%= a.sub_title %></p>
                            </div>
                            <div class="Desc half-top-padding">
                                <% if a.num_people == 1 %>
                                    <%= image_tag("p0.png", class: "Icon2") %>
                                <% elsif a.num_people == 2 %>
                                  <%= image_tag("p1.png", class: "Icon2") %>
                                <% elsif a.num_people == 3 %>
                                  <%= image_tag("p2.png", class: "Icon2") %>
                                <% else %>
                                  <%= image_tag("p3.png", class: "Icon2") %>
                                <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div></a>
                  </div>
              <% end %>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>