<div class="ProjectNew all-100">
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding">


        <div class="New column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-center">
          <div class="Title all-90 align-center half-top-padding half-bottom-space" >
            <h3>Create a Project</h3>
          </div>
        <%= form_for(:project, url: projects_create_path, :html => {:class => "ink-form all-100"}) do |f| %>
            <div class="all-80 push-center half-top-space">

              <div class="control-group column-group gutters">
                <%= f.label( :title, "Project Title", :class => "all-20 align-right") %>
                <div class="control all-80">
                  <%= f.text_field( :title, :placeholder => "Title", :class => 'form-control') %>
                </div>
              </div>

              <div class="control-group column-group gutters">
                <%= f.label( :sub_title, "Sub Title", :class => "all-20 align-right") %>
                <div class="control all-80">
                  <%= f.text_field( :sub_title, :placeholder => "A one line description of the project", :class => 'form-control') %>
                </div>
              </div>

              <div class="control-group column-group gutters">
                <%= f.label :type_id, :class => "all-20 align-right" %>
                <div class="control all-80">
                  <%= f.select :type_id, options_for_select(@type.collect{ |s| [s.name, s.id] }) %>
                </div>
              </div>

              <div class="control-group column-group gutters">
                <%= f.label :skill, :class => "all-20 align-right" %>
                <div class="control all-80">
                  <%= f.text_field( :skills, :placeholder => "A list of skills needed", :class => 'form-control') %>
                </div>
              </div>

              <div class="control-group column-group gutters">
                <%= f.label( :desc, "Project Description", :class => "all-20 align-right") %>
                <div class="control all-80">
                  <%= f.text_area( :desc, :placeholder => "Project Description...", :class => 'form-control') %>
                </div>
              </div>


            </div>
            <div class="all-80 push-center half-bottom-padding">
              <%= submit_tag( "Create Project", class: "ink-button all-100 blue")%>
            </div>

        <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
