<div class="ProjectShow all-100">
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding">


        <div class="Show column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-center">
          <div class="Title all-100 align-center half-top-padding half-bottom-space half-bottom-padding" >
            <h3><%=@project.title%></h3>
            <h4><%=@project.sub_title%></h4>
          </div>
          <div class="Members all-100 align-center half-top-padding half-bottom-space" >
            <div class="column-group all-100">

              <div class="column-group all-50">
                <div class="all-50 align-left"><h5>Leader:</h5></div>

                <div class="column-group all-50 align-left">
                  <div class="all-50 ">
                    <p class="Name"><%=@leader.name%></p>
                    <div class="Email all-100"><p><%=@leader.email%></p></div>
                  </div>
                  <div class="all-50">
                    <% if @leader.major_id == 1 %>
                        <%= image_tag("Coding.png", class: "Icon3", title: "Software Engineer") %>
                    <% else %>
                        <%= image_tag("Microchip.png", class: "Icon3", title: "Computer Engineer") %>
                    <% end %>
                  </div>
                </div>

                <div class="column-group all-100">
                  <div class="all-50 align-left"><h5>Type:</h5></div>
                  <div class="all-50 align-left"><p><%= @project.type.name %></p></div>
                </div>

                <div class="column-group all-100">
                  <div class="all-50 align-left"><h5>Skills:</h5></div>
                  <div class="all-50 align-left"><p><%= @project.skills %></p></div>
                </div>

              </div>

              <div class="column-group all-50">
                <div class="all-50 align-left"><h5>Members:</h5></div>

                <div class="column-group all-50 align-left">
                  <%@project.users.each do |u|%>
                    <%if u.id != @leader.id %>
                        <div class="all-50">
                          <p class="Name"><%=u.name%></p>
                          <% if current_user == @leader %>
                            <div class="Email all-100"><p><%=u.email%></p></div>
                          <% end %>
                        </div>
                        <div class="all-50">
                          <% if u.major_id == 1 %>
                              <%= image_tag("Coding.png", class: "Icon4", title: "Software Engineer") %>
                          <% else %>
                              <%= image_tag("Microchip.png", class: "Icon4", title: "Computer Engineer") %>
                          <% end %>
                          <% if current_user == @leader%>
                              <%= link_to image_tag("rdel.png", class: "Icon4-1 fade-in", title: "Remove from team"),
                                          team_path(u.id),
                                          method: :delete,
                                          data: {confirm: 'Are you sure you want to remove user'} %>
                          <% end %>
                        </div>
                    <% end %>
                  <%end%>
                </div>
              </div>

            </div>
          </div>
          <div class="Desc all-100 align-left half-top-padding half-bottom-space" >
                <div class="DescHeader all-100"><h5>Description:</h5></div>
                <div class="all-100 half-top-padding half-left-padding half-right-padding"><p><%=@project.desc%></p></div>
          </div>
          <% if current_user == @leader%>
              <div class="column all-50 align-center top-padding half-right-padding">
                <%= link_to image_tag("setting_g.png", class: "Icon6") + ' Edit Project',
                            edit_project_path(@project),
                            class: "ink-button all-100 blue" %>
              </div>
              <div class="column all-50 align-center top-padding half-left-padding">
                <%= link_to image_tag("del_g.png", class: "Icon6") + ' Delete Project',
                            project_path(@project),
                            method: :delete,
                            class: "ink-button all-100 blue",
                            data: {confirm: 'Are you sure you want to delete project'} %>
              </div>
          <%else%>
              <% if !@team %>
                  <div class="column all-100 align-center top-padding">
                    <%= form_for(:team, url: teams_create_path, :html => {:class => "ink-form all-100"}) do |f| %>
                     <%= hidden_field_tag :project_id, @project.id %>
                     <%= hidden_field_tag :user_id, current_user.id %>
                     <%= submit_tag( "Join Project", class: "ink-button all-95 blue")%>
                    <% end %>
                  </div>
              <% else %>
                  <div class="column all-100 align-center top-padding">
                    <%= link_to image_tag("del_g.png", class: "Icon6") + ' Leave Project',
                                team_path(current_user),
                                method: :delete,
                                class: "ink-button all-100 blue",
                                data: {confirm: 'Are you sure you want to leave'} %>
                  </div>
              <% end %>

          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
