
<div class="Home all-100 half-top-space">
  <section class="module parallax parallax-1">
    <div class="container">
      <h3>CMPE Engineering Projects</h3>
    </div>
  </section>

  <!--<section class="module content">-->
  <!--<div class="container">-->
  <div class="ink-grid">
    <div class="push-center">
      <div class="column-group all-100 push-center padding bottom-space">

        <div class="Linked column-group all-100 left-padding right-padding half-top-padding half-bottom-padding bottom-space push-middle">
          <div class="all-20">
           <%= image_tag("linkedin.jpg", class: "logo") %>
          </div>
          <div class="all-60 align-center" align="justify">
            <h4>Join The Engineering Group</h4>
          </div>
          <div class="all-20 align-right">
            <button class="ink-button blue" src="linkedin.com">Linked In</button>
          </div>
        </div>

        <div class="companies bottom-padding">
            <div class="column-group all-100 push-center half-top-padding half-bottom-padding">
              <h1>Companies</h1>
            </div>
            <div class="column-group horizontal-gutters push-center">
              <% @company.each do |c| %>
                  <div class="companiesCardHolder all-25 medium-30 small-50 tiny-100 half-bottom-space">
                    <div class="companiesCard all-100 padding">
                      <div class="all-100">
                        <div class="all-100 left-padding right-padding ">
                          <div class="all-100 align-center top-padding push-top">
                            <a href="<%= c.website %>"><img src="<%= c.img_url %>"></a>
                          </div>
                          <div class="all-100 align-center top-padding push-bottom">
                            <h3><%= link_to c.name, company_path(c)%></h3>
                            <p><%= c.industry %></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
        </div>

        <div class="advisors bottom-padding">
            <div class="column-group all-100 push-center half-top-padding half-bottom-padding">
              <h1>Advisers</h1>
            </div>
            <div class="column-group horizontal-gutters push-center">
              <% @advisor.each do |a| %>
                  <div class="advisorCardHolder all-25 medium-30 small-50 tiny-100 half-bottom-space">
                    <div class="advisorCard padding half-bottom-space">

                      <div class="all-100">
                        <div class="all-100 left-padding right-padding ">
                          <div class="all-100 align-center top-padding push-top">
                            <a href="<%= advisor_path(a) %>"><img src="<%= a.img_url %>"></a>
                          </div>
                          <div class="all-100 align-center top-padding push-bottom">
                            <h3><%= link_to a.name, advisor_path(a)%></h3>
                            <p><%= a.title %></p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
              <% end %>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){
                if(i == 0) {
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed -50) + "px";
                }
                else{
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed + 200) + "px";
                }

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>