<div class="ink-grid">
  <div class="advisors all-80 push-center half-top-padding">

    <div class="advisorCard padding half-bottom-space">
      <div class="column-group all-100">

        <div class="cardHeader column-group all-100 left-padding right-padding">
          <div class="all-50 push-left">
            <h3><%= @advisor.name %></h3>
          </div>
          <div class="all-50 push-right align-right">
            <p><%= @advisor.title %></p>
            <a href="mailto:<%= @advisor.email %>" target="_top"><%= @advisor.email %></a>
          </div>
        </div>

        <div class="all-20 push-left align-center">
          <img src="<%= @advisor.img_url %>">
        </div>

        <div class="all-80 push-right">
          <div class="column-group all-100">
            <h5>Specialty:</h5>
          </div>
          <div class="column-group all-100">
            <p><%= @advisor.special %></p>
          </div>
          <div class="column-group all-100">
            <h5>Background:</h5>
          </div>
          <div class="column-group all-100">
            <p><%= @advisor.background %></p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>